<body>
    <div class="app-container">
        <header class="header">
            <h1 class="app-title">LLCE App</h1>
            <p class="app-description">Your LPIC-1 Learning Companion</p>
        </header>
    
        <main class="main-content">
            <h2 class="main-heading">Welcome to the App Home</h2>
            <p class="sub-heading">Choose a Mode to Get Started:</p>
            
            <h3 class="modeRed">Learn Mode</h3>
            <div class="mode-buttons">
                <button class="mode-button" routerLink="/learnlist">Learn List</button>
                <button class="mode-button" routerLink="/learnsingle">Learn Single</button>
            </div>
        </main>
    </div>
  
</body>

