
<body>
  <div *ngIf="popupWarning">
    <h1 class="modeRed">Warning: Antwort(en) geraten!</h1>
    <h1 class="modeRed">Warning: darum eine Frage zurück :)</h1>
    <button (click)="popupWarning = !popupWarning">OK, habe geraten :(</button>
  </div>
  <div *ngIf="!popupWarning">
    <h3 class="modeRed">Check Mode FI</h3>
  

  
    Frage: {{ question.qid }} Typ: {{ question.qtyp }} <br />
    <span *ngFor="let txt of question.qtxt">
      <span *ngIf="txt[0] == ' '">
        <br />
        <code class="cblue"> {{ txt }}</code>
      </span>
      <span *ngIf="txt[0] != ' '">
        {{ txt }}
      </span>
    </span>
  
    <div *ngIf="question.qtyp == 'fi'">
      <div *ngFor="let ans of question.qanswers; index as ind">
        <span *ngIf="whatIsCorrect" class="correctGreen">
          {{ ans.txt }}
        </span>
        <br>
        <span *ngIf="!whatIsCorrect">
          <input
            type="text"
            name="question.qtyp"
            #myinput
             (keyup)="keyInput(myinput.value)"
             (keyup.enter)="nextQuestion()"
            />
        </span>
      </div>
      <br>
      <div>
        <button class="fpnlButton" (click)="firstQuestion()">first</button>
        <button class="fpnlButton" (click)="prevQuestion()">prev</button>
        <button class="correctGreen" (click)="toggleCorrect(currentQuestion)">
          What is correct?
        </button>
        <button class="fpnlButton" (click)="nextQuestion()">next</button>
        <button class="fpnlButton" (click)="lastQuestion()">last</button>
        <br />
      </div>
    </div>
  
    <br />
    <br />
  </div>
</body>